.YOUR-STATS-1 {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #000000;
  height: 43px;
  left: 0;
  position: absolute;
  top: 250px;
  width: 393px;
}

.YOUR-STATS-1 .navbar-3 {
  align-items: center;
  display: flex;
  gap: 24px;
  left: 22px;
  position: absolute;
  top: 12px;
  width: 349px;
}

.YOUR-STATS-1 .text-wrapper-203 {
  color: #aeaeae;
  display: block;
  font-family: "Bangers", Helvetica;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.YOUR-STATS-1 .text-wrapper-204 {
  color: #ffffff;
  display: block;
  font-family: "Bangers", Helvetica;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.YOUR-STATS-1 .rectangle-9 {
  background-color: #ffaa22;
  height: 3px;
  left: 221px;
  position: absolute;
  top: 40px;
  width: 51px;
}
