.YOUR-STATS-2 {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #000000;
  height: 43px;
  left: 0;
  position: absolute;
  top: 250px;
  width: 393px;
}

.YOUR-STATS-2 .navbar-4 {
  align-items: center;
  display: flex;
  gap: 24px;
  left: 22px;
  position: absolute;
  top: 12px;
  width: 349px;
}

.YOUR-STATS-2 .text-wrapper-234 {
  color: #aeaeae;
  display: block;
  font-family: "Bangers", Helvetica;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.YOUR-STATS-2 .text-wrapper-235 {
  color: #ffffff;
  display: block;
  font-family: "Bangers", Helvetica;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.YOUR-STATS-2 .rectangle-11 {
  background-color: #ffaa22;
  height: 3px;
  left: 123px;
  position: absolute;
  top: 40px;
  width: 75px;
}
