.doperaider-YOU {
  background-color: #000000;
  height: 852px;
  width: 393px;
}

.doperaider-YOU .overlap-55 {
  height: 852px;
  position: relative;
}

.doperaider-YOU .telegram-cloud-photo {
  height: 729px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 123px;
  width: 393px;
}

.doperaider-YOU .LOGO {
  height: 28px;
  left: 118px;
  position: absolute;
  top: 60px;
  width: 157px;
}
