.MARKET-PRICES-3 {
  background-color: #000000b2;
  border: 1px solid;
  border-color: #ffffff66;
  border-radius: 4px;
  height: 93px;
  left: 293px;
  overflow: hidden;
  position: absolute;
  top: 539px;
  width: 361px;
}

.MARKET-PRICES-3 .SEEDS-2 {
  height: 38px;
  left: 16px;
  position: absolute;
  top: 8px;
  width: 329px;
}

.MARKET-PRICES-3 .text-wrapper-116 {
  color: #ffffff;
  font-family: "Roboto Condensed", Helvetica;
  font-size: 14px;
  font-weight: 700;
  left: 32px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 10px;
  white-space: nowrap;
}

.MARKET-PRICES-3 .text-wrapper-117 {
  color: #ffffff;
  font-family: "Roboto Condensed", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 122px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 8px;
  white-space: nowrap;
}

.MARKET-PRICES-3 .icon-57 {
  background-image: url(../../../../../static/img/ellipse-4-23.svg);
  background-size: 100% 100%;
  height: 24px;
  left: 0;
  position: absolute;
  top: 7px;
  width: 24px;
}

.MARKET-PRICES-3 .layer-17 {
  height: 13px;
  left: 7px;
  position: absolute;
  top: 6px;
  width: 10px;
}

.MARKET-PRICES-3 .trade-14 {
  align-items: center;
  background: linear-gradient(
    0deg,
    rgba(16, 52, 29, 1) 0%,
    rgba(49, 137, 82, 1) 100%
  );
  border: none;
  border-radius: 74px;
  display: inline-flex;
  gap: 8px;
  justify-content: center;
  left: 265px;
  overflow: hidden;
  padding: 8px;
  position: absolute;
  top: 4px;
}

.MARKET-PRICES-3 .trade-14::before {
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  background: linear-gradient(
    0deg,
    rgba(118, 227, 157, 1) 0%,
    rgba(107, 186, 28, 1) 100%
  );
  border-radius: 74px;
  content: "";
  inset: 0;
  mask-composite: exclude;
  padding: 1px;
  pointer-events: none;
  position: absolute;
  z-index: 1;
}

.MARKET-PRICES-3 .text-wrapper-118 {
  color: #ffffff;
  font-family: "Roboto Condensed", Helvetica;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: -0.36px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-shadow: 0px 4px 4px #00000040;
  white-space: nowrap;
  width: fit-content;
}

.MARKET-PRICES-3 .trade-15 {
  align-items: center;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(102, 102, 102, 1) 100%
  );
  border: none;
  border-radius: 74px;
  display: inline-flex;
  gap: 4px;
  justify-content: center;
  left: 177px;
  overflow: hidden;
  padding: 3px;
  position: absolute;
  top: 4px;
}

.MARKET-PRICES-3 .trade-15::before {
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(102, 102, 102, 1) 100%
  );
  border-radius: 74px;
  content: "";
  inset: 0;
  mask-composite: exclude;
  padding: 1px;
  pointer-events: none;
  position: absolute;
  z-index: 1;
}

.MARKET-PRICES-3 .group-7 {
  border-radius: 12px;
  height: 24px;
  position: relative;
  transform: rotate(180deg);
  width: 24px;
}

.MARKET-PRICES-3 .polygon-3 {
  height: 11px;
  left: 8px;
  position: absolute;
  top: 7px;
  transform: rotate(-180deg);
  width: 10px;
}

.MARKET-PRICES-3 .text-wrapper-119 {
  color: #ffffff;
  font-family: "Roboto Condensed", Helvetica;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  white-space: nowrap;
  width: fit-content;
}

.MARKET-PRICES-3 .group-8 {
  border-radius: 12px;
  height: 24px;
  position: relative;
  width: 24px;
}

.MARKET-PRICES-3 .polygon-4 {
  height: 11px;
  left: 8px;
  position: absolute;
  top: 7px;
  width: 10px;
}

.MARKET-PRICES-3 .CHEMICALS-2 {
  height: 38px;
  left: 16px;
  position: absolute;
  top: 46px;
  width: 329px;
}

.MARKET-PRICES-3 .text-wrapper-120 {
  color: #ffffff;
  font-family: "Roboto Condensed", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 122px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 9px;
  white-space: nowrap;
}

.MARKET-PRICES-3 .icon-58 {
  background-image: url(../../../../../static/img/ellipse-4-24.svg);
  background-size: 100% 100%;
  height: 24px;
  left: 0;
  position: absolute;
  top: 7px;
  width: 24px;
}

.MARKET-PRICES-3 .group-9 {
  height: 12px;
  left: 7px;
  position: absolute;
  top: 6px;
  width: 10px;
}

.MARKET-PRICES-3 .trade-16 {
  align-items: center;
  background: linear-gradient(
    0deg,
    rgba(16, 52, 29, 1) 0%,
    rgba(49, 137, 82, 1) 100%
  );
  border: none;
  border-radius: 74px;
  display: inline-flex;
  gap: 8px;
  justify-content: center;
  left: 259px;
  overflow: hidden;
  padding: 8px;
  position: absolute;
  top: 4px;
}

.MARKET-PRICES-3 .trade-16::before {
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  background: linear-gradient(
    0deg,
    rgba(118, 227, 157, 1) 0%,
    rgba(107, 186, 28, 1) 100%
  );
  border-radius: 74px;
  content: "";
  inset: 0;
  mask-composite: exclude;
  padding: 1px;
  pointer-events: none;
  position: absolute;
  z-index: 1;
}

.MARKET-PRICES-3 .trade-17 {
  align-items: center;
  background: linear-gradient(
    0deg,
    rgba(16, 52, 29, 1) 0%,
    rgba(49, 137, 82, 1) 100%
  );
  border: none;
  border-radius: 74px;
  display: inline-flex;
  gap: 8px;
  justify-content: center;
  left: 294px;
  overflow: hidden;
  padding: 8px;
  position: absolute;
  top: -80px;
}

.MARKET-PRICES-3 .trade-17::before {
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  background: linear-gradient(
    0deg,
    rgba(118, 227, 157, 1) 0%,
    rgba(107, 186, 28, 1) 100%
  );
  border-radius: 74px;
  content: "";
  inset: 0;
  mask-composite: exclude;
  padding: 1px;
  pointer-events: none;
  position: absolute;
  z-index: 1;
}

.MARKET-PRICES-3 .text-wrapper-121 {
  color: #ffffff;
  font-family: "Roboto Condensed", Helvetica;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-shadow: 0px 4px 4px #00000040;
  white-space: nowrap;
  width: fit-content;
}
