.screen-8 {
  background-color: #ffffff;
  height: 852px;
  overflow: hidden;
  position: relative;
  width: 393px;
}

.screen-8 .BG-5 {
  height: 948px;
  left: -277px;
  position: fixed;
  top: -82px;
  width: 906px;
}

.screen-8 .overlap-group-38 {
  height: 944px;
  position: relative;
  top: 4px;
}

.screen-8 .image-4 {
  height: 774px;
  left: 277px;
  object-fit: cover;
  position: absolute;
  top: 78px;
  width: 393px;
}

.screen-8 .rectangle-29 {
  background-color: #00000099;
  height: 874px;
  left: 262px;
  position: absolute;
  top: 70px;
  width: 426px;
}

.screen-8 .ellipse-48 {
  background-color: #ffffff;
  border-radius: 114.5px/216.5px;
  filter: blur(27px);
  height: 433px;
  left: 359px;
  mix-blend-mode: soft-light;
  position: absolute;
  top: 289px;
  width: 229px;
}

.screen-8 .ellipse-49 {
  background-color: #ffffff;
  border-radius: 58.5px/166.5px;
  filter: blur(27px);
  height: 333px;
  left: 306px;
  mix-blend-mode: soft-light;
  position: absolute;
  top: 202px;
  width: 117px;
}

.screen-8 .ellipse-50 {
  background-color: #ffffff;
  border-radius: 63.5px/216.5px;
  filter: blur(27px);
  height: 433px;
  left: 505px;
  mix-blend-mode: soft-light;
  position: absolute;
  top: 168px;
  width: 127px;
}

.screen-8 .ellipse-51 {
  background-color: #000000;
  border-radius: 203.24px/453.09px;
  filter: blur(27px);
  height: 906px;
  left: 250px;
  mix-blend-mode: soft-light;
  opacity: 0.3;
  position: absolute;
  top: -250px;
  transform: rotate(90deg);
  width: 406px;
}

.screen-8 .ellipse-52 {
  background-color: #000000;
  border-radius: 125px/279px;
  filter: blur(27px);
  height: 558px;
  left: 338px;
  mix-blend-mode: soft-light;
  opacity: 0.6;
  position: absolute;
  top: -145px;
  transform: rotate(90deg);
  width: 250px;
}

.screen-8 .SHADOW-2 {
  background-color: #000000;
  border-radius: 65.5px/239px;
  filter: blur(27px);
  height: 478px;
  left: 120px;
  opacity: 0.8;
  position: fixed;
  top: 490px;
  transform: rotate(90deg);
  width: 131px;
}
