.doperaider-MARKET {
  background-color: #ffffff;
  height: 852px;
  overflow: hidden;
  width: 393px;
}

.doperaider-MARKET .overlap-49 {
  height: 944px;
  left: -277px;
  position: relative;
  top: -78px;
  width: 906px;
}

.doperaider-MARKET .BG {
  height: 944px;
  left: 0;
  position: absolute;
  top: 0;
  width: 906px;
}

.doperaider-MARKET .overlap-group-38 {
  height: 944px;
  position: relative;
}

.doperaider-MARKET .element-21 {
  height: 852px;
  left: 277px;
  object-fit: cover;
  position: absolute;
  top: 78px;
  width: 393px;
}

.doperaider-MARKET .rectangle-12 {
  background-color: #000000b2;
  height: 874px;
  left: 262px;
  position: absolute;
  top: 70px;
  width: 426px;
}

.doperaider-MARKET .ellipse-30 {
  background-color: #ffffff;
  border-radius: 114.5px/216.5px;
  filter: blur(27px);
  height: 433px;
  left: 359px;
  mix-blend-mode: soft-light;
  position: absolute;
  top: 289px;
  width: 229px;
}

.doperaider-MARKET .ellipse-31 {
  background-color: #ffffff;
  border-radius: 114.5px/216.5px;
  filter: blur(27px);
  height: 433px;
  left: 359px;
  mix-blend-mode: soft-light;
  position: absolute;
  top: 186px;
  width: 229px;
}

.doperaider-MARKET .ellipse-32 {
  background-color: #000000;
  border-radius: 203.24px/453.09px;
  filter: blur(27px);
  height: 906px;
  left: 250px;
  mix-blend-mode: soft-light;
  opacity: 0.3;
  position: absolute;
  top: -250px;
  transform: rotate(90deg);
  width: 406px;
}

.doperaider-MARKET .ellipse-33 {
  background-color: #000000;
  border-radius: 125px/279px;
  filter: blur(27px);
  height: 558px;
  left: 338px;
  mix-blend-mode: soft-light;
  opacity: 0.6;
  position: absolute;
  top: -145px;
  transform: rotate(90deg);
  width: 250px;
}

.doperaider-MARKET .TRAVEL-AREAS {
  height: 66px;
  left: 277px;
  position: absolute;
  top: 748px;
  width: 393px;
}

.doperaider-MARKET .text-wrapper-253 {
  color: #ffffff;
  font-family: "Bangers", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 132px;
  letter-spacing: 0.32px;
  line-height: normal;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  top: 27px;
  white-space: nowrap;
}

.doperaider-MARKET .TRAVEL-LEFT {
  height: 80px;
  left: -70px;
  position: absolute;
  top: -6px;
  width: 194px;
}

.doperaider-MARKET .mask-group-8 {
  height: 105px;
  left: 70px;
  position: absolute;
  top: -12px;
  width: 90px;
}

.doperaider-MARKET .vector-28 {
  height: 11px;
  left: 170px;
  position: absolute;
  top: 36px;
  width: 24px;
}

.doperaider-MARKET .TRAVEL-LEFT-2 {
  height: 80px;
  left: 270px;
  position: absolute;
  top: -6px;
  width: 193px;
}

.doperaider-MARKET .mask-group-9 {
  height: 105px;
  left: 30px;
  position: absolute;
  top: -12px;
  width: 92px;
}

.doperaider-MARKET .vector-29 {
  height: 11px;
  left: 0;
  position: absolute;
  top: 37px;
  width: 24px;
}

.doperaider-MARKET .rectangle-13 {
  -webkit-backdrop-filter: blur(2px) brightness(100%);
  backdrop-filter: blur(2px) brightness(100%);
  background-color: #00000080;
  height: 851px;
  left: 277px;
  position: absolute;
  top: 78px;
  width: 393px;
}

.doperaider-MARKET .text-wrapper-254 {
  color: #ffffff;
  font-family: "Bangers", Helvetica;
  font-size: 32px;
  font-weight: 400;
  left: 411px;
  letter-spacing: 0.64px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 136px;
  white-space: nowrap;
}
