.MARKET-PRICES-2 {
  background-color: #000000b2;
  border: 1px solid;
  border-color: #ffffff66;
  border-radius: 4px;
  height: 136px;
  left: 293px;
  overflow: hidden;
  position: absolute;
  top: 395px;
  width: 361px;
}

.MARKET-PRICES-2 .text-wrapper-107 {
  color: #ffffff;
  font-family: "Roboto Condensed", Helvetica;
  font-size: 14px;
  font-weight: 700;
  left: 24px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 13px;
  white-space: nowrap;
}

.MARKET-PRICES-2 .text-wrapper-108 {
  color: #ffffff;
  font-family: "Roboto Condensed", Helvetica;
  font-size: 14px;
  font-weight: 700;
  left: 146px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 13px;
  white-space: nowrap;
}

.MARKET-PRICES-2 .text-wrapper-109 {
  color: #ffffff;
  font-family: "Roboto Condensed", Helvetica;
  font-size: 14px;
  font-weight: 700;
  left: 213px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 13px;
  white-space: nowrap;
}

.MARKET-PRICES-2 .line-6 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 45px;
  width: 361px;
}

.MARKET-PRICES-2 .overlap-9 {
  height: 38px;
  left: 16px;
  position: absolute;
  top: 52px;
  width: 329px;
}

.MARKET-PRICES-2 .COKE-3 {
  height: 38px;
  left: 0;
  position: absolute;
  top: 0;
  width: 329px;
}

.MARKET-PRICES-2 .text-wrapper-110 {
  color: #ffffff;
  font-family: "Roboto Condensed", Helvetica;
  font-size: 14px;
  font-weight: 700;
  left: 32px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 10px;
  white-space: nowrap;
}

.MARKET-PRICES-2 .text-wrapper-111 {
  color: #bbf88e;
  font-family: "Roboto Condensed", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 122px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 9px;
  white-space: nowrap;
}

.MARKET-PRICES-2 .text-wrapper-112 {
  color: #ffffff;
  font-family: "Roboto Condensed", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 192px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 9px;
  white-space: nowrap;
}

.MARKET-PRICES-2 .icon-55 {
  background-image: url(../../../../../static/img/ellipse-4-21.svg);
  background-size: 100% 100%;
  height: 24px;
  left: 0;
  position: absolute;
  top: 7px;
  width: 24px;
}

.MARKET-PRICES-2 .vector-17 {
  height: 15px;
  left: 6px;
  position: absolute;
  top: 5px;
  width: 13px;
}

.MARKET-PRICES-2 .trade-13 {
  align-items: center;
  background: linear-gradient(
    0deg,
    rgba(16, 52, 29, 1) 0%,
    rgba(49, 137, 82, 1) 100%
  );
  border: none;
  border-radius: 74px;
  display: inline-flex;
  gap: 8px;
  justify-content: center;
  left: 281px;
  overflow: hidden;
  padding: 8px;
  position: absolute;
  top: 4px;
}

.MARKET-PRICES-2 .trade-13::before {
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  background: linear-gradient(
    0deg,
    rgba(118, 227, 157, 1) 0%,
    rgba(107, 186, 28, 1) 100%
  );
  border-radius: 74px;
  content: "";
  inset: 0;
  mask-composite: exclude;
  padding: 1px;
  pointer-events: none;
  position: absolute;
  z-index: 1;
}

.MARKET-PRICES-2 .text-wrapper-113 {
  color: #ffffff;
  font-family: "Roboto Condensed", Helvetica;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: -0.36px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-shadow: 0px 4px 4px #00000040;
  white-space: nowrap;
  width: fit-content;
}

.MARKET-PRICES-2 .WEED-7 {
  height: 38px;
  left: 16px;
  position: absolute;
  top: 90px;
  width: 329px;
}

.MARKET-PRICES-2 .text-wrapper-114 {
  color: #ff5353;
  font-family: "Roboto Condensed", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 122px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 10px;
  white-space: nowrap;
}

.MARKET-PRICES-2 .text-wrapper-115 {
  color: #ffffff;
  font-family: "Roboto Condensed", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 192px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 10px;
  white-space: nowrap;
}

.MARKET-PRICES-2 .icon-56 {
  background-image: url(../../../../../static/img/ellipse-4-22.svg);
  background-size: 100% 100%;
  height: 24px;
  left: 0;
  position: absolute;
  top: 7px;
  width: 24px;
}

.MARKET-PRICES-2 .vector-18 {
  height: 15px;
  left: 5px;
  position: absolute;
  top: 4px;
  width: 14px;
}
